techhybrisoktassoaddon/gensrc/**
techhybrisoktassoaddon/resources/techhybrisoktassoaddon/techhybrisoktassoaddon-testclasses.xml
techhybrisoktassoaddon/src/com/cts/wis/entitlement/jalo/**
/techhybrisoktassoaddon/classes/*
/techhybrisoktassoaddon/gensrc/*
/techhybrisoktassoaddon/**/extensioninfo.xsd
/techhybrisoktassoaddon/**/platformhome.properties
/techhybrisoktassoaddon/**/beans.xsd
/techhybrisoktassoaddon/**/items.xsd
/techhybrisoktassoaddon/**/build.xml
/techhybrisoktassoaddon/**/*-testclasses.xml
/techhybrisoktassoaddon/ruleset.xml




/techhybrisoktaconnect/**/src/**/jalo/*
/techhybrisoktaconnect/**/eclipsebin
/techhybrisoktaconnect/**/beans.xsd
/techhybrisoktaconnect/**/gensrc
/techhybrisoktaconnect/**/classes
/techhybrisoktaconnect/**/items.xsd
/techhybrisoktaconnect/**/extensioninfo.xsd
/techhybrisoktaconnect/**/platformhome.properties
/techhybrisoktaconnect/**/*-testclasses.xml
/techhybrisoktaconnect/**/*-webtestclasses.xml
/techhybrisoktaconnect/**/build.xml
/techhybrisoktaconnect/web/commonwebsrc/acceleratorstorefrontcommons/*
/techhybrisoktaconnect/gensrc/*
/techhybrisoktaconnect/classes/*
/techhybrisoktaconnect/web/webroot/WEB-INF/classes/*
/techhybrisoktaconnect/ruleset.xml